<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Personas</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">name:</label>
          <input [(ngModel)]="product.name" name="name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">price:</label>
          <input [(ngModel)]="product.price" name="price" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Address:</label>
          <input [(ngModel)]="product.address" name="address" type="text" class="form-control">
        </div>
        <button (click)="GG()" class="btn btn-danger">G</button>
      </form>
    </div>
  </div>
</div>
